<form>
    <br>
    <div class="form-group row">
        <label class="col-md-4 required">Nama</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.name" type="text" name="name" class="form-control"
                placeholder="Nama Category">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-md-4 required">Description</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.description" type="text" name="desc" class="form-control"
                placeholder="Desc Category">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-md-4"></label>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary" (click)="save()">Simpan</button>
        </div>
    </div>
</form>